/**
 * This file provides the design styles for the page footer
 *
 * @author Jana Deutschlaender <deutschlaender@cosmocode.de>
 */


/* + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* no print */

@media screen {
    .page-footer {
        background: @background_page-header;
        border-top: 1px solid @color-border-light;
        font-size: @font-size-default;
        padding: @margin-small (@margin-big - .5);
        text-align: right;

        bdi {
            font-weight: bold;
        }
    }

    #dokuwiki__footer {

        .main-footer {
            position: relative;
            z-index: 10;
            box-sizing: border-box;
            background-color: @color-site-bg;
        }

        p {
            font-size: @font-size-default;
            margin: 0;
        }
    }
}


/* + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* min-width: 1024px */

@media @screen_min-md {
    #dokuwiki__footer {
        .col-xs-12 {
            float: right;
            width: 100%;
        }

        .main-footer {
            padding: @margin-default 0;
        }
    }

    .showSidebar {
        #dokuwiki__footer {
             .col-xs-12 {
                 width: 73%;
            }
        }
    }
    .wide-content {
        #dokuwiki__footer {
            .col-xs-12 {
                width: auto;
                float: none;
            }
        }
        &.showSidebar{
            #dokuwiki__footer {
                .col-xs-12 {
                    margin-left: @margin-big;
                }
            }
        }
    }
}


/* + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* max-width: 1023px */

@media @screen_max-md {
    #dokuwiki__footer {
        .main-footer {
            padding: @margin-default (@margin-big - .5);
        }
    }
}
