/**
 * Page Attribute Icons in the breadcrumb bar
 */
.page-attributes {
    list-style: none;
    float: right;
    display: inline-block;
    max-width: 30%;
    margin: -.45em 0 0;
    padding: 0;
    @media @screen_max-xs {
        max-width: 90%;
    }

    li.plugin_qc .qc_icon svg {
        margin-left: 0;
        margin-top: 0.2em;
        width: 1.5em;
        height: 1.5em;
    }

    > li {
        .btn-usertools-wrapper(); // uniform li
        .btn-usertools-num();

        position: relative;
        float: left;
        display: block;
        width: auto;
        min-height: @toggle-size;
        border: 1px solid @wikiicons-border;
        border-radius: @ini_default_border_radius;
        text-align: center;
        margin: 0 .25rem;

        a {
            display: block;
            width: auto;
            min-height: 26px;
            &:hover, &:focus, &:active {
                background-color: @ini_nav_menu_hover_color;
                border-color: @ini_nav_menu_hover_color;
                color: @ini_nav_menu_hover_bg;
                span.qc_icon {
                    &.qc_bad, &.qc_meh, &.qc_good {
                        fill: @ini_nav_menu_hover_bg;
                        color: @ini_nav_menu_hover_bg;
                    }
                }

            }
        }

        .prefix {
            .btn-prefix ();
            .icon-clipboard();

            display: block;
            font-size: 1.2rem;
            line-height: 1;
        }

    }
}
