#spr__meta-box {
    .display-flex();
    .flex-direction();
    .justify-content(flex-end);

    position: relative;
    z-index: 10;
    float: right;
    max-width: 40%;
    margin-top: -(@page_padding-top); // reverse padding-top of .page container
    margin-right: -1px;

    // >= 1024
    @media @screen_min-md {
        height: @page-header_height;
        border: 1px solid transparent;
    }

    // < 1024
    @media @screen_max-md {
        position: relative;
        top: -1px;
        right: auto;
        float: none;
        display: block;
        max-width: 100%;
        min-height: @page-header_height;
        height: auto;
    }

    // < 992
    @media @screen_max-sm {
        position: relative;
        top: .2rem;
        border: 0 none;
    }

    .tab-container {
        display: table;

        @media @screen_max-md {
            display: block;
            width: 100%;
        }
    }

    .box-content {
        position: relative;
        height: 0;
        overflow-y: visible;
    }

    ul.meta-tabs {
        list-style: none;
        line-height: 160%;
        margin: 0;
        padding: 0;

        @media @screen_min-md {
            white-space: nowrap;
            text-align: right;
        }

        &::before,
        &::after {
            content: '';
            clear: both;
            display: table;
            box-sizing: border-box;
        }

        > li:first-child {
            > a {
                margin-left: 0;
            }
        }

        > li {
            position: relative;
            display: inline-block;
            vertical-align: bottom;
            margin: 0;

            @media @screen_min-md {
                margin-left: .3rem;
            }

            @media @screen_max-md {
                margin-right: .5rem;
            }

            @media @screen_max-sm {
                margin-right: .4rem;
                margin-bottom: .2rem;
            }

            > a {
                cursor: pointer;
                position: relative;
                display: block;
                background-color: @color-site-bg;
                border: 1px solid @ini_border_light;
                color: @color-link;
                font-size: @font-size-small;
                line-height: 1.42857143;
                padding: .3em 1rem .1em;
                margin-left: 4px;
                transition: @transition color, @transition background-color, @transition border-color;

                @media @screen_min-md {
                    border-radius: @ini_default_border_radius @ini_default_border_radius 0 0; // @ini_default_border_radius vs. @fix_border-radius
                }

                @media @screen_max-md {
                    top: -1px;
                    background-color: @background_page-header;
                    border-radius: 0 0 @ini_default_border_radius @ini_default_border_radius; // @ini_default_border_radius vs. @fix_border-radius
                    margin-left: 0;
                    padding: .2em .3rem .1em;
                }

                @media @screen_max-sm {
                    top: 0;
                    border-radius: 0;
                    margin-top: .2rem;
                    padding-bottom: .2em;
                }

                * {
                    cursor: pointer;
                    color: inherit;
                }

                .prefix {
                    position: relative;
                    color: inherit;
                    font-size: @font-size-small;
                    transition: @transition color;
                }

                &:hover,
                &:focus,
                &:active {
                    background-color: @color-content-bg;
                    border-color: @color-link;
                    text-decoration: none;
                }
            }

            &.active {
                z-index: 1;

                > a {
                    cursor: default;
                    background-color: @color-content-bg;
                    border-color: @color-link;
                    border-bottom-color: @color-content-bg;
                    color: @color-link;

                    @media @screen_max-md {
                        border-radius: 0;
                    }

                    @media @screen_max-sm {
                        background-color: @color-link;
                        border-bottom-color: @color-link;
                        color: @color-content-bg;
                    }
                }
            }
        }
    }

    .meta-content {
        margin-top: -1px;

        @media @screen_max-md {
            clear: both;
        }

        @media @screen_max-md {
            margin-top: -2px;
        }

        @media @screen_max-sm {
            margin-top: 2px;
        }

        .tab-pane {
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            width: 100%;
            background-color: @color-content-bg;
            border: 1px solid @color-link;

            @media @screen_min-xs {
                min-width: 20em;
            }

            @media @screen_min-sm {
                border-radius: 0 0 @fix_border-radius @fix_border-radius; // @ini_default_border_radius vs. @fix_border-radius
            }

            &.active {
                display: block;
                overflow: hidden;
            }

            > div {
                font-size: @font-size-small;
                padding: .8rem .5rem .5rem;

                * {
                    font-size: inherit;
                }

                p {
                    padding-left: 1em;
                }

                ul {
                    list-style: none;
                    padding-left: 0;

                    li {
                        margin-left: 0;
                        padding-left: 1em;
                    }
                }
            }

            &#spr__tab-tags {
                > div {
                    ul {
                        li {
                            padding-left: 0;
                        }
                    }
                }
            }

            #dw__toc {
                width: auto;
                float: none;
                margin: 0;
                padding: .6rem .5rem .5rem .8rem;
                background: transparent;
                border: 0 none;

                h3 {
                    display: none;
                }

                > div {
                    padding: 0;
                }

                > div ul.toc {
                    font-size: @font-size-small;
                    padding-left: .5em;

                    a {
                        font-size: @font-size-small;
                        display: inline-block;
                        padding-left: 10px;
                        position: relative;
                    }

                    div.li {
                        position: relative;
                        padding: .15em 0;

                        &::before {
                            position: absolute;
                            top: .6em;
                            content: "";
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            background-color: #ccc;
                            overflow: hidden;
                            left: 0;
                        }
                    }
                }

                > div > ul.toc {
                    padding: 0;
                }
            }
        }
    }

    + .msg-area + a {
        clear: right;
        margin-top: 20px;
    }
}
