#meta-box {
    .tab-container {
        display: table;
    }
    .box-content {
        position: relative;
        height: 0;
        overflow-y: visible;
    }

    ul.meta-tabs {
        background-color: @background_page-header;
        margin: 0;
        padding: 0;
        list-style: none;
        &::before, &::after {
            display: table;
            content: " ";
            box-sizing: border-box;
            clear: both;
        }
        > li:first-child{
            > a{
                margin-left: 0;
            }
        }
        > li {
            margin: 1px -1px -1px;
            position: relative;
            display: inline-block;
            > a {
                margin-left: 4px;
                line-height: 1.42857143;
                position: relative;
                display: block;
                padding: .38em 2em .12em;
                border: 1px solid @color-border;
                border-bottom: 0 none;
                background-color: @color-site-bg;
                border-radius: 4px 4px 0 0;
                color: @color-nav;
                cursor: pointer;
                text-decoration: none;
                transition: @transition color, @transition background-color, @transition border-color;

                * {
                    cursor: pointer;
                }

                .prefix {
                    color: @color-nav;
                    position: relative;
                    transition: @transition color;
                    font-size: @font-size-small;
                }
                .num {

                }
                &:hover,
                &:focus,
                &:active {
                    background-color: @background_page-header;
                    border-color: @color-border;
                    border-bottom-color: transparent;
                    color: @button_background;

                    .prefix {
                        color: @button_background;
                    }

                    .num {
                        background-color: @button_background;
                        color: @button_color;
                    }
                }
            }
            &.active > a {
                cursor: default;
                tab-index: -1;
                color: #555;
                background-color: #fff;
            }
        }
    }
    .meta-content {
        .tab-pane {
            border: 1px solid @color-border;
            border-top-color: transparent;
            background-color: @background_page-header;
            display: none;
            position: absolute;
            width: 100%;
            &.active {
                display: block;
            }
            > div {
                padding: .8rem .5rem .5rem;
                font-size: @font-size-small;
                *{
                    font-size: inherit;
                }
                p{
                    padding-left: 1em;
                }
                ul{
                    list-style: none;
                    padding-left:0;
                    li{
                        margin-left: 0; padding-left: 1em;
                    }
                }
            }

            #dw__toc {
                width: auto;
                float: none;
                margin: 0;
                padding: .6rem .5rem .5rem .8rem;
                background: transparent;
                border: 0 none;
                h3 {
                    display: none;
                }
                > div {
                    padding: 0;
                }
                > div ul.toc {
                    font-size: @font-size-small;
                    padding-left: .5em;
                    a {
                        font-size: @font-size-small;
                        display: inline-block;
                        padding-left: 10px;
                        position: relative;
                    }
                    li {
                    }
                    div.li {
                        position: relative;
                        ::before {
                            position: absolute;
                            top: .3em;
                            content: "";
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            background-color: #ccc;
                            overflow: hidden;
                            left: 0;
                        }
                        padding: .15em 0;
                    }
                }
                > div > ul.toc {
                    padding: 0;
                }
            }
        }
    }
    + .msg-area + a{
        clear: right;
        margin-top: 20px;
    }
}

