/**
 * This styles the section editing buttons and highlighting
 */


#dokuwiki__content.main-content {
    div.section_highlight {
        clear: right;
        background: repeating-linear-gradient(
            -45deg,
            @highlight-odd-ini_text,
            @highlight-odd-ini_text 10px,
            @highlight-even-ini_text 10px,
            @highlight-even-ini_text 20px,
        );
        border-color: @ini_background_page_header;
    }

    .secedit button {
        clear: both;
        font-size: 100%;
        margin-top: -1em;
        margin-bottom: @small-spacing;
    }

    .editbutton_section {
        position: relative;
        z-index: 2;
        top: 0;
        float: right;
        margin-top: 0;

        button {
            background-color: transparent;
            color: transparent;
            border-color: transparent;

            &::after {
                content: '';
                display: inline-block;
                background: transparent url("svg.php?svg=pencil.svg&f=existing") center center no-repeat;
                height: 1em;
                width: 1em;
                background-size: contain;
                margin-left: @small-spacing;
            }

            &:hover,
            &:active,
            &:focus {
                background-color: @ini_button_color;
                color: @ini_button_background;
                border-color: @ini_button_background;

                &::after {
                    background-image: url("svg.php?svg=pencil.svg&f=button_background");
                }
            }
        }
    }
}
