/**
 * This file provides the design styles for the direct / menu jump links.
 *
 * @author Jana Deutschlaender <deutschlaender@cosmocode.de>
 */


.breadcrumbs {
    position: relative;
    min-height: @page-header_height;
    box-sizing: border-box;
    background-color: @ini_background_content;
    border-bottom: 1px solid @ini_border_light;
    padding: 1rem 1.8rem .2rem;

    @media @screen_max-md {
        background-color: @ini_background_page_header;
    }

    @media @screen_max-xs {
        padding-left: @margin-small;
        padding-right: .75rem;
    }

    @media @screen_xs-lg {
        background-color: @ini_background_content;
    }

    > p {
        font-size: @font-size-small;
        margin: 0;

        @media @screen_max-xs{
            width: 1px;
            position: relative;
            overflow: hidden;
            height: 1.6rem;
        }

        * {
            font-size: @font-size-small;
        }

        .bchead {
            .sr-only();
        }

        span.home {
            margin-left: -.2rem; // reverse spacing in home icon --> content text and home icon aligned

            .wide-content & {
                margin-left: .4rem; //toggle link has position absolute, hover on home icon needs more space than left padding of breadcrumb
            }

            a {
                .fontello();
                .hide-text-show-before();
                .icon-home();

                min-height: 1.8em;
                min-width: 1.9em;
                width: auto;
                box-sizing: border-box;
                border: solid 1px transparent;
                border-radius: @ini_default_border_radius; // @ini_default_border_radius vs. @fix_border-radius
                vertical-align: middle;
                text-decoration: none;
                margin-top: -.2em;
                transition: @transition border-color;

                &:before {
                    font-size: @font-size-default + (@font-scale-factor * 2);
                    margin-top: .17rem;
                }

                &:hover,
                &:focus,
                &:active {
                    border-color: @ini_existing;
                }
            }
        }

        bdi {
            padding: .1em .1em 0;
        }
    }


/* + + + + +  icon list  + + + + + */
    .page-attributes {
        list-style: none;
        float: right;
        display: inline-block;
        max-width: 30%;
        margin: -.45em 0 0;
        padding: 0;

        @media @screen_max-xs{
            max-width: 90%;
        }

        > li {
            .btn-usertools-wrapper(); // uniform li
            .btn-usertools-num();

            float: left;

            > strong,
            > a {
                display: block;
                width: auto;
                min-height: @toggle-size;
                border: 1px solid @ini_border_light;
                border-radius: @ini_default_border_radius; // @ini_default_border_radius vs. @fix_border-radius
                text-align: center;
                margin: 0;
            }

            .prefix {
                .btn-prefix ();
                .icon-clipboard();

                display: block;
                font-size: 1.2rem;
                line-height: 1;
            }

/* check !!! */
            &.do_none {
                position: relative;
                border-radius: @ini_default_border_radius; // @ini_default_border_radius vs. @fix_border-radius

                strong {
                    overflow: hidden;
                    background-color: @ini_background;
                    border-color: @noopentasks-border;
                    color: @ini_text_webframe;
                }

                .num {
                    margin-top: 1px;
                    background-color: @noopentasks-border; // fix
                    color: @noopentasks-color; // fix
                }
            }
/* end check !!! */

            &.plugin__qc {
                display: inline-block;
                overflow: visible;
                position: static;
            }
        } // li

        a {
            .btn-hover();

            &[aria-expanded="false"] + #plugin__qc__wrapper {
                display: none;
            }
        }

        #plugin__qc__wrapper {
            position: absolute;
            right: 0;
            width: auto;
            border: 0 none;
            background: @ini_background_page_header;
            background: -webkit-linear-gradient(top, @ini_background_page_header, @ini_background_content);
            background: linear-gradient(top, @ini_background_page_header, @ini_background_content);
            box-shadow: @box-shadow-bottom;
            z-index: 2000;

            #plugin__qc__out {
                h1 {
                    font-size: @font-size-head3;
                }

                h2 {
                    margin-top: 1.6em;
                    font-size: @font-size-head5;
                }
                > h1,
                > h2,
                > p,
                > dl,
                > div {
                    padding-left: 1rem;
                    margin-left: 0;
                }

                > div p {
                    padding-left: 0;
                    margin-left: 0;
                }
            }

            &[aria-hidden="false"] {
                margin-top: .5rem;
            }
        }

        #plugin__qc__icon {
            display: none;
        }

        #plugin__qc__link {
            position: relative;

            .prefix {
                .icon-emo-happy();

                width: 100%;
                font-size: @font-size-default;

                &::before {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
}


/* + + + + +  ?  + + + + + */
.mode_admin {

}
