/**
 * This file provides the design styles for the sidebar (navmain).
 *
 * @author Jana Deutschlaender <deutschlaender@cosmocode.de>
 */


.togglelink {
    &.page_main-content {
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -2rem;
        z-index: 1;

        a {
            .display-flex();
            .flex-direction();
            .justify-content();

            width: 2rem;
            height: 100%;
            background-color: @button_background;
            border: solid 1px @button_background;
            border-radius: 2px 0 0 2px;
            color: @button_color;
            text-decoration: none;
            text-align: center;
            transition: @transition color, @transition background-color, @transition border-color;

            &:hover,
            &:focus,
            &:active {
                background-color: @button_color;
                border-color: @button_background;
                color: @button_background;
                text-decoration: none;

                * {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }


/* + + +  toggle out  + + + */
        .wide-content & {
            left: -1px;

            a {
                background-color: @button_background;
                border-color: @button_background;

                &:hover,
                &:focus,
                &:active {
                    background-color: @button_color;
                }
            }
        }
    }
}


/* + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* min-width: 1440px */

@media @screen_min-xlg {
    .togglelink {

    }
}


/* + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* max-width: 1199px */

@media @screen_max-xlg {
    .togglelink {

    }
}
