/**
 * This file provides the design styles for the main-content.
 *
 * @author Jana Deutschlaender <deutschlaender@cosmocode.de>
 */

#dokuwiki__content.main-content {

    .level2 {
        p a.media {
            img {
                border: 1px dotted @color-site-bg;

            }
            &:hover, &:focus, &:active {
                img {
                    border: 1px solid @color-link;
                }
            }

        }
    }

    .wikipagefooter {
        > hr {
            margin-top: 3em;
            margin-bottom: 0.5em;
            border-top: dashed @color-border-light 2px;
            border-bottom: none;
        }
    }
}

/* + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* min-width: 1440px */

@media @screen_min-xlg {
}

/* + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* max-width: 1199px */

@media @screen_max-xlg {
}
