/**
 * This file provides the design styles for the quick search.
 *
 * @author Jana Deutschlaender <deutschlaender@cosmocode.de>
 */


.search.main-sidebar {

    p.toggleSearch{
        padding: 0; Margin: 0;
        display: none;
    }
    form {
        @icon-size: 40px;

        display: block;
        margin: 0 0 @margin-default;

        .no {
            #qsearch__in {
                width: 100%;
                padding-left: 10px;
                padding-right: (@icon-size + 10);
            }
        }

        input {
            min-height: @icon-size;
            box-sizing: border-box;
        }

        button[type="submit"] {
            .fontello();
            .hide-text-show-before();
            .icon-search();

            position: relative;
            width: @icon-size;
            min-height: @icon-size;
            overflow: visible;
            background-image: none;
            background-color: transparent;
            border: solid 1px transparent;
            border-right-color: @color-border;
            color: @color-nav;
            margin-left: -(@icon-size);
            padding: 0;
            transition: @transition color, @transition background-color, @transition border-color;

            &:hover,
            &:focus,
            &:active {
                background-color: @button_color;
                border: solid 1px @button_background;
                color: @button_background;

                &::after {
                    background-color: @button_background;
                }
            }

            &::before {
                width: 100%;
                color: inherit;
                font-size: 25px;
                text-align: center;
                margin: 0;
            }

            &::after {
                content: '';
                position: absolute;
                top: 15%;
                bottom: 15%;
                width: 1px;
                left: -1px;
                background-color: @color-border;
                transition: @transition background-color;
            }
        }
    }
}

.wide-content{
    .search.main-sidebar{
        p.toggleSearch{
            display: block;
            float: left;
        }
        form{
            .no {
                #qsearch__in{
                    width: 0;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}
