/**
 * This file provides the design styles for the main-content.
 *
 * @author Jana Deutschlaender <deutschlaender@cosmocode.de>
 */


#dokuwiki__content.main-content {

    .level2 {
        p a.media {
            img{
                border:1px dotted @color-site-bg;

            }
           &:hover,&:focus,&:active{
               img{
                   border:1px solid @color-link;
               }
           }

        }
    }
    div.section_highlight{
        background: repeating-linear-gradient(
            -45deg,
            @ini_background_neu,
            @ini_background_neu 10px,
            @ini_background 10px,
            @ini_background 20px,
        );
    }
    .secedit {
        float: right;
        margin-top: 0;
        position: relative;
        z-index:2;
        top: 0;
    }
}


/* + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* min-width: 1440px */

@media @screen_min-xlg {
}


/* + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* max-width: 1199px */

@media @screen_max-xlg {
}
