/**
 * This file provides the design styles for the main-content.
 *
 * @author Jana Deutschlaender <deutschlaender@cosmocode.de>
 */

#dokuwiki__content.main-content {

    .level2 {
        p a.media {
            img {
                border: 1px dotted @color-site-bg;

            }
            &:hover, &:focus, &:active {
                img {
                    border: 1px solid @color-link;
                }
            }

        }
    }
    div.section_highlight {
        margin: 0;
        padding: 0 0 1rem 0;
        border: 1px solid #abced4;
        background-color: #fff;
        background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
        background-size: 100% 1.2em;
        opacity: .7;
    }
    .secedit {
        float: right;
        margin-top: 0;
        position: relative;
        z-index: 2;
        top: 0;

        button {
            background-color: transparent;
            color: transparent;
            border-color: transparent;

            &::after {
                content: '';
                display: inline-block;
                background: transparent url("svg.php?svg=pencil.svg&f=link") center center no-repeat;
                height: 1em;
                width: 1em;
                background-size: contain;
                margin-left: 0.5rem; // FIXME hard coded in plugins/edit.less
            }

            &:hover,
            &:active,
            &:focus {
                background-color: @button_color;
                color: @button_background;
                border-color: @button_background;
            }
        }
    }
}

/* + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* min-width: 1440px */

@media @screen_min-xlg {
}

/* + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* max-width: 1199px */

@media @screen_max-xlg {
}
