/**
 * This file provides the design styles for the page header.
 *
 * @author Jana Deutschlaender <deutschlaender@cosmocode.de>
 */


#dokuwiki__header {
    .menu-togglelink {
        margin: @very-small-spacing -(@very-small-spacing) 0 0;

        a {
            .fontello();
            .icon-menu();

            display: block;
            min-height: @toggle-size;
            min-width: @toggle-size;
            box-sizing: border-box;
            background-color: #fff;
            border: 1px solid @color-border;
            border-radius: @border-radius;
            font-size: 1rem;
            text-align: center;
            text-decoration: none;
            line-height: 1;
            transition: @transition color, @transition background-color, @transition border-color;

            &::before {
                font-size: 1.5rem;
                margin: .1rem 0 0;
            }
        }

        &:hover,
        &:active,
        &:focus {
            background-color: @button_color;
            border-color: @button_background;
        }
    }
}
