/**
 * This file provides styles for the general layout structure.
 *
 * @author Jana Deutschlaender <deutschlaender@cosmocode.de>
 */


/* + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* Col Grid */
/* + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + */

.make-grid(xs);

@media screen {
    .container {
        margin: 0 @margin-big;
    }
}

@media @screen_min-xxs {
}

@media @screen_min-xs {
}

@media @screen_min-sm {
    .make-grid(sm);
}

@media @screen_min-md {
    .make-grid(md);
}

@media @screen_min-lg {
    .make-grid(lg);
}

@media @screen_min-xlg {
    html {
        font-size: 120%;
    }
}

@media @screen_min-xxlg {
    html {
        //font-size: 135%;
    }
}

/* + + + + +  z-indeces  + + + + + */
@media @screen_min-md {
    .nav-direct p {
        z-index: 1000;
    }

    .top-header {
        z-index: 900;
    }

    .tools .row > .col-xs-12 {
        z-index: 1;
    }

    .header .row > .col-xs-12 {
        z-index: 2;
    }

    .content .row > .col-xs-12 {
        z-index: 3;
    }

    .top-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .header,
    .tools {
        .row {
            position: relative;

            > .col-xs-12 {
                width: 23%;
                box-sizing: border-box;
            }
        }
    }

    .header {
        .row > .col-xs-12 {
            position: relative;
            height: 150px;
            min-height: 6rem;
        }
    }

    .tools {
        .row > .col-xs-12 {
            position: absolute;
        }
    }

    .content {
        .row > .col-xs-12 {
            position: relative;
            width: 100%;
            background-color: #fff;
        }
    }

    .claim {
        .logo {
            position: absolute;
            bottom: 1em;
            overflow: visible;

            img {
                height: 60px;
                width: auto;
                border-style: solid;
                border-color: transparent;
                border-width: 0 2px;
            }

            a:hover,
            a:focus,
            a:active {
                img {
                    border-width: 0;
                }
            }
        }
    }

    .showSidebar {
        .content {
            .row > .col-xs-12 {
                width: 73%;
                float: right;
            }
        }



        .claim {
            .logo {
                position: absolute;
                bottom: 0;
                height: 1px;
                width: 100%; // fo IE
                overflow: visible;
            }

            .logo img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    .wide-content{
        .content {
            .row > .col-xs-12{
                width: auto;
                float: right;
            }
        }
        &.showSidebar{
            .content {
                .row > .col-xs-12 {
                    margin-left: 2.5rem;
                }
            }
        }

    }

    .main-sidebar {
        &.search {
            > img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media @screen_max-md {
    .container {
        margin: 0 2.5rem 0 1.25rem;
    }

    #dokuwiki__usertools {
        margin-top: 0;
        max-width: 75%;
        position: absolute;
        top: 0;
    }

    .content {
        position: relative;

        #dokuwiki__pagetools {
            top: 0;
        }

        .row > .col-xs-12 #dokuwiki__content::before {
            display: none;
        }
    }

    #dokuwiki__header {
        .logo {
            width: 200px;
            max-width: 33%;
            margin: .8rem 0;
        }
    }

    .tools {
        .main-sidebar {
            display: none;
        }
    }
}
