/**
 * This file provides the basic/reset styles.
 *
 * @author Jana Deutschlaender <deutschlaender@cosmocode.de>
 */

/* + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* all media */
/* + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + */

html,
body {
    .reset();
    font-size: 100.1%;
}

header,
.nav-direct{
    .elementsReset();
}

ol,
ul {
    list-style: none outside none;
}

blockquote,
q {
    quotes: none;
}

acronym {
    cursor: help;
    border-bottom: dotted 1px @ini_text;
}

*:focus {
    outline: 0;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    caption-side: top;
}

caption,
th,
td {
    text-align: left;
    vertical-align: top;
}

img {
    display: block;
    float: none;
    border: none 0;
    line-height: @line-height-default;
}

*,
div,
nav,
header {
    box-sizing: border-box;
}

header,
footer,
.container,
.row, nav,
nav > ul {
    &::before,
    &::after {
        display: table;
        content: ' ';
        clear: both;
    }
}


/* + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* css behaviour */

.sr-out {
    .sr-out();
}

.sr-only {
    .sr-only();
}

.clearer{
    clear: both;
}

.structure,
.none,
.mobile-only {
    display: none;
}

.mobile-only {
    display: none;

    @media @screen_max-md {
        display: inline-block;
    }
}

.mobile-hide {
    display: inline-block;

    @media @screen_max-md {
        display: none;
    }
}

.desktop-only {
    display: none;
    @media @screen_min-md {
        display: inline-block;
    }
}


/* + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* screen only */
/* + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + */

@media screen {
    html {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    article, aside, details, figcaption, figure, footer, header,
    main, menu, nav, section, summary {
        display: block;
    }

    audio,
    canvas,
    progress,
    video {
        display: inline-block;
        vertical-align: baseline;
    }

    audio:not([controls]) {
        display: none;
        height: 0;
    }

    [hidden],
    template {
        display: none;
    }

    a:active,
    a:hover {
        outline: 0;
    }

    abbr[title] {
        border-bottom: 1px dotted;
    }

    small {
        font-size: 80%;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    hr {
        box-sizing: content-box;
        height: 0;
    }

    pre {
        overflow: auto;
    }

    code,
    kbd,
    pre,
    samp {
        font-family: monospace, monospace;
        font-size: 1em;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        color: inherit;
        font: inherit;
        margin: 0;
    }

    button,
    select {
        text-transform: none;
    }

    button {
        overflow: visible;
    }

    input {
        &[type="checkbox"],
        &[type="radio"] {
            box-sizing: border-box;
            padding: 0;
        }

        &[type="number"] {
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                height: auto;
            }
        }

        &[type="search"] {
            -webkit-appearance: textfield;
            box-sizing: content-box;

            &::-webkit-search-cancel-button,
            &::-webkit-search-decoration {
                -webkit-appearance: none;
            }
        }
    }

    legend {
        border: 0;
        padding: 0;
    }

    textarea {
        overflow: auto;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    td,
    th {
        padding: 0;
    }

    html, body {
        font-family: @font_family_screen;
        color: @ini_text;
    }
}


/* + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* print only */
/* + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + */

@media print {
    body {
        font-size: 12pt;
    }
}
