.do-admin{
    #admin__version{
        font-size: @font-size-default;
    }
    .main-content ul{
         > li{
            font-size: @font-size-default;
             div.li{
                 font-size: @font-size-default;
                 a{
                     font-size: @font-size-default;
                     line-height: 125%;
                     cursor: pointer;
                 }
             }
        }
    }
    ul.admin_tasks{
        padding: 0;
        li{
            background-size: auto 1rem;
            margin: 0 0 .6em 0;
            a{
                font-weight: 400;
            }
        }
    }

    @media @screen_max-md{
        ul.admin_tasks{
            float: none;
            width: auto;
        }

    }
}

